@import "_variables";
@import "_mixins";

.attractions-container {
  @include flex-row-rev-center;
  background-color: $primary-color-dark;
  color: $primary-color-text;
  border-top: 0.1rem $accent-color-mix solid;
  width: 100%;
  height: auto;
  padding-bottom: 8rem;
  padding-top: 9rem;
}

/* ATTRACTIONS LABEL */
.attractions-label {
  padding-right: 2rem;
  font-size: 9rem;
  width: 25%;
}

/* IMAGES */
.attractions-image-parent {
  width: 60rem;
  height: 60rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  @include flex-col-center;
  font-size: 5rem;
}
.empire {
  background-image: url("./img/empire-attractions.jpg");
  background-position: center;
  width: 100%;
  height: 25%;
  position: relative;
}
.liberty {
  background-image: url("./img/liberty-attractions.jpg");
  background-position: center;
  width: 100%;
  height: 25%;
  position: relative;
}
.times {
  background-image: url("./img/times-square-attractions.jpg");
  background-position: center;
  width: 100%;
  height: 25%;
  position: relative;
}
.radiocity {
  background-image: url("./img/radiocity-attractions.jpg");
  background-position: center;
  width: 100%;
  height: 25%;
  position: relative;
}

/* TEXT ON RIGHT */
.attractions-text {
  width: 40%;
  padding-left: 2rem;
}

.attractions-text p {
  font-family: $small-font;
  text-align: center;
  font-size: 1.8rem;
  line-height: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* MEDIA QUERY CHANGES */
@media screen and (min-width: $desktop-max) and (max-width: 2000px) {
  .attractions-text {
    padding-left: 10rem;
  }
  .attractions-label {
    font-size: 10rem;
  }
  .attractions-text p {
    font-size: 2.25rem;
    padding-right: 0rem;
  }
}

@media screen and (max-width: $small-window-max) {
  .attractions-images {
    //width: 35rem;
    //height: 30rem;
  }
  .attractions-container {
    @include flex-col-center;
    justify-content: space-between;
  }
  .attractions-label {
    padding-top: 2rem;
    padding-right: 0;
    padding-left: 0;
    width: auto;
  }
  .attractions-image-parent {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .attractions-images {
    width: 40rem;
    height: 35rem;
  }
  .attractions-text {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
  }
  .attractions-text p {
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 1rem;
    //font-size: 1.25rem;
  }
}
