@import "_variables";
@import "_mixins";

.culture-container {
  padding-left: 1rem;
  @include flex-row-center;
  justify-content: space-evenly;
  background-color: $primary-color-dark;
  color: $primary-color-text;
  border-top: 0.1rem $accent-color-mix solid;
  width: 100%;
  height: auto;
  padding-bottom: 8rem;
  padding-top: 9rem;
}

/* CULTURE LABEL */
.culture-label {
  padding-left: 4rem;
  font-size: 9rem;
  width: 20%;
}

/* IMAGES */
.culture-image-parent {
  width: 60rem;
  height: 40rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  @include flex-row-center;
  justify-content: center;
}

.culture-images {
  margin: 3rem;
  position: relative;
  @include flex-row-center;
  width: 45rem;
  height: 38rem;
  overflow: hidden;
}

.culture-images img {
  position: absolute;
  animation: culture-images 28s infinite;
  opacity: 0;
  width: 100%;
  height: auto;
}

@keyframes culture-images {
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}
.culture-images img:nth-child(7) {
  animation-delay: 24s;
}
.culture-images img:nth-child(6) {
  animation-delay: 20s;
}
.culture-images img:nth-child(5) {
  animation-delay: 16s;
}
.culture-images img:nth-child(4) {
  animation-delay: 12s;
}
.culture-images img:nth-child(3) {
  animation-delay: 8s;
}
.culture-images img:nth-child(2) {
  animation-delay: 4s;
}
.culture-images img:nth-child(1) {
  animation-delay: 0s;
}

/* TEXT ON RIGHT */
.culture-text {
  width: 40%;
  padding-right: 2rem;
}

.culture-text p {
  font-family: $small-font;
  text-align: center;
  font-size: 1.8rem;
  line-height: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* MEDIA QUERY CHANGES */
@media screen and (min-width: $desktop-max) and (max-width: 2000px) {
  .culture-text {
    padding-left: 10rem;
  }
  .culture-label {
    font-size: 10rem;
  }
  .culture-text p {
    font-size: 2.25rem;
    padding-right: 0rem;
  }
}

@media screen and (max-width: $small-window-max) {
  .culture-images {
    //width: 35rem;
    //height: 30rem;
  }
  .culture-container {
    @include flex-col-center;
    justify-content: space-between;
  }
  .culture-label {
    padding-top: 2rem;
    width: auto;
    padding-left: 0rem;
  }
  .culture-image-parent {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .culture-images {
    width: 40rem;
    height: 35rem;
  }
  .culture-text {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
  }
  .culture-text p {
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 1rem;
    //font-size: 1.25rem;
  }
}

@media screen and (max-width: $mobile-max) {
  .culture-label {
    font-size: 7rem;
  }
  .culture-text p {
    font-size: 1.4rem;
    text-align: left;
  }
}
