@import "_variables";
@import "_mixins";

.header {
  background-color: $primary-color-dark;
  color: $primary-color-text;
  height: 95vh;
  @include flex-col-center;
  justify-content: center;
}
.header-title {
  font-size: 8rem;
  text-align: center;
}
