@import "_variables";
@import "_mixins";

header {
  @include flex-row-center;
  justify-content: space-between;
  height: auto;
  border-bottom: $primary-color-dark 0.4rem solid;
}
/* EMPIRE STATE BUILDING IMAGE*/
.empire {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7rem;
  height: 10rem;
}

.empire img {
  width: 7rem;
  height: 10rem;
  transition: all 0.3s ease-in-out;
}

/* NEW YORK CITY "LOGO" */
.left-side {
  @include flex-row-center;
  font-size: 8.5rem;
  padding-left: 1rem;
  margin: 0 auto;
  width: 40vw;
}

.left-side h1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
}
/* NAV BAR SUBSECTIONS */
.right-side {
  @include flex-row-center;
  padding-left: 3rem;
  padding-right: 3rem;
}

.right-side button {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

button {
  font-family: $font;
  font-size: 3rem;
  font-weight: bold;
  padding: 0.5rem;
  text-decoration: none;
  background: white;
  display: inline-block;
  color: $primary-color-dark;
  text-decoration: none;
  border: 1rem white solid;
  transition: all 0.4s ease;
}
/* NAV BAR EFFECTS */
.button::after {
  content: " ";
  display: block;
  width: 0;
  height: 2px;
  background: linear-gradient($accent-color-light, $accent-color-medium);
  transition: width 0.3s;
}

.button:hover::after {
  width: 100%;
}

button:hover {
  transform: scale(1.1);
}
/* MEDIA QUERY CHANGES */
@media screen and (min-width: 1001px) and (max-width: 1400px) {
  .left-side {
    width: 80%;
    @include flex-row-center;
    justify-content: space-around;
  }
  .left-side h1 {
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0rem;
  }
}

@media screen and (max-width: 1000px) {
  header {
    @include flex-col-center;
    justify-content: space-between;
  }
  .left-side {
    width: 80%;
    @include flex-row-center;
    justify-content: space-around;
  }
  .left-side h1 {
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0rem;
  }
  .right-side button {
    font-size: 2.5rem;
  }
  .right-side {
    @include flex-col-center;
    padding-bottom: 1rem;
  }
  .empire {
    width: 3.5rem;
    height: 5rem;
  }
  .empire img {
    width: 3.5rem;
    height: 5rem;
  }
}
