@import "_variables";
@import "_mixins";

.intro-container {
  font-size: 16rem;
  @include flex-row-center;
  justify-content: center;
  height: 45vh;
}
#video {
  position: relative;
  z-index: -1;
  width: 100%;
  height: auto;
}

.video-and-text {
  position: relative;
  text-align: center;
}

.video-text {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  font-size: 12rem;
  color: $primary-color-text;
  -webkit-text-stroke-width: 0.2rem;
  -webkit-text-stroke-color: black;
}

@media screen and (max-width: 1300px) {
  .video-text {
    top: 45%;
  }
}

@media screen and (max-width: $mobile-max) {
  .video-text {
    font-size: 8rem;
    top: 35%;
  }
  .video-and-text {
    margin-top: 10rem;
  }
}
