@import "_variables";
@import "_mixins";

.restaurants-container {
  @include flex-col-center;
  justify-content: center;
  background-color: $primary-color-dark;
  color: $primary-color-text;
  border-top: 0.1rem $accent-color-mix solid;
  height: auto;
  padding-bottom: 8rem;
  padding-top: 9rem;
}

.restaurants-label {
  font-size: 9rem;
}

.restaurants {
  color: transparent;
  font-size: 3rem;
  width: 80%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.katz {
  background-image: url("/img/katz-deli-restaurants.jpg");
  filter: grayscale(25%);
  background-position: center;
  background-size: cover;
  //-webkit-text-stroke: 0.1rem $primary-color-dark;
  height: 15rem;
  width: 25%;
  margin-left: 4rem;
  margin-right: 4rem;
  position: relative;
  border-radius: 0.3rem;
  transition: all 0.4s ease;
}
.katz:hover {
  background-image: url("/img/katz-deli-inside.jpg");
  background-size: cover;
  filter: grayscale(0%);
  transform: scale(1.1);
  border-radius: 1rem;
}
.average {
  background-image: url("/img/katz-deli-restaurants.jpg");
  filter: grayscale(25%);
  background-position: center;
  background-size: cover;
  //-webkit-text-stroke: 0.1rem $accent-color-mix;
  height: 15rem;
  width: 25%;
  margin-left: 4rem;
  margin-right: 4rem;
  position: relative;
  border-radius: 0.3rem;
  transition: all 0.4s ease;
}
.average:hover {
  filter: grayscale(0%);
  transform: scale(1.1);
  border-radius: 1rem;
}
.expensive {
  background-image: url("/img/katz-deli-restaurants.jpg");
  filter: grayscale(25%);
  background-position: center;
  background-size: cover;
  //-webkit-text-stroke: 0.1rem $accent-color-mix;
  height: 15rem;
  width: 25%;
  margin-left: 4rem;
  margin-right: 4rem;
  position: relative;
  border-radius: 0.3rem;
  transition: all 0.4s ease;
}
.expensive:hover {
  filter: grayscale(0%);
  transform: scale(1.1);
  border-radius: 1rem;
}

.restaurants-text p {
  font-family: $small-font;
  text-align: center;
  width: 100%;
  font-size: 2.2rem;
  line-height: 3rem;
  padding-left: 6rem;
  padding-right: 6rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
