@import "_variables";
@import "_mixins";

.restaurants-container {
  @include flex-col-center;
  justify-content: center;
  background-color: $primary-color-dark;
  color: $primary-color-text;
  //border-top: 0.1rem $accent-color-mix solid;
  height: auto;
  padding-bottom: 8rem;
  padding-top: 10rem;
}

.restaurants-label {
  font-size: 9rem;
}

.restaurants {
  color: transparent;
  font-size: 3rem;
  width: 80%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.katz {
  background-image: url("/img/katz-deli-restaurants.jpg");
  filter: grayscale(25%);
  background-position: center;
  background-size: cover;
  height: 20rem;
  width: 30%;
  margin-left: 4rem;
  margin-right: 4rem;
  position: relative;
  border-radius: 0.3rem;
  transition: all 0.4s ease;
}

.katz a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none;
  z-index: 10;
  background-color: #fff;
  opacity: 0;
  filter: alpha(opacity=1);
}
.katz:hover {
  background-image: url("/img/katz-deli-inside.jpg");
  background-size: cover;
  filter: grayscale(0%);
  transform: scale(1.1);
  border-radius: 1rem;
}

.sugar {
  background-image: url("/img/sugar-factory-restaurants.jpg");
  filter: grayscale(25%);
  background-position: center;
  background-size: cover;
  height: 20rem;
  width: 30%;
  margin-left: 4rem;
  margin-right: 4rem;
  position: relative;
  border-radius: 0.3rem;
  transition: all 0.4s ease;
}
.sugar a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none;
  z-index: 10;
  background-color: #fff;
  opacity: 0;
  filter: alpha(opacity=1);
}
.sugar:hover {
  background-image: url("/img/sugar-factory-inside.jpg");
  background-size: cover;
  filter: grayscale(0%);
  transform: scale(1.1);
  border-radius: 1rem;
}
.russiantearoom {
  background-image: url("/img/russian-tea-room-restaurants.jpg");
  filter: grayscale(75%);
  background-position: center;
  background-size: cover;
  height: 20rem;
  width: 30%;
  margin-left: 4rem;
  margin-right: 4rem;
  position: relative;
  border-radius: 0.3rem;
  transition: all 0.4s ease;
}
.russiantearoom a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none;
  z-index: 10;
  background-color: #fff;
  opacity: 0;
  filter: alpha(opacity=1);
}
.russiantearoom:hover {
  background-image: url("/img/russian-tea-room-inside.jpg");
  background-size: cover;
  filter: grayscale(0%);
  transform: scale(1.1);
  border-radius: 1rem;
}

.restaurants-text p {
  font-family: $small-font;
  text-align: center;
  width: 100%;
  font-size: 2.2rem;
  line-height: 3rem;
  padding-left: 6rem;
  padding-right: 6rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* MEDIA QUERY CHANGES */
@media screen and (min-width: $desktop-max) and (max-width: 2000px) {
}

@media screen and (min-width: small-window-max) and (max-width: desktop-max) {
  .restaurants-text p {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: $tablet-min) and (max-width: $small-window-max) {
  .restaurants-text p {
    font-size: 1.8rem;
  }
  .katz {
    margin-right: 2rem;
    margin-left: 2rem;
  }
  .sugar {
    margin-right: 2rem;
    margin-left: 2rem;
  }
  .russiantearoom {
    margin-right: 2rem;
    margin-left: 2rem;
  }
}

@media screen and (max-width: $mobile-max) {
  .restaurants-container {
    padding-top: 2rem;
  }
  .restaurants-label {
    font-size: 7rem;
  }
  .restaurants-text p {
    font-size: 1.4rem;
    padding-right: 3rem;
    padding-left: 3rem;
    text-align: left;
  }
  .restaurants {
    padding-bottom: 0.5rem;
    padding-top: 1.5rem;
    width: 90%;
  }
  .katz {
    margin-right: 1rem;
    margin-left: 1rem;
    width: 50%;
    height: 15rem;
  }
  .sugar {
    margin-right: 1rem;
    margin-left: 1rem;
    width: 50%;
    height: 15rem;
  }
  .russiantearoom {
    margin-right: 1rem;
    margin-left: 1rem;
    width: 50%;
    height: 15rem;
  }
}
