/* colors */
$primary-color-dark: #000000;
$primary-color-text: #fff;
$accent-color-mix: rgb(0, 255, 221);
$accent-color-light: #18ffff;
$accent-color-medium: #1de9b6;
$secondary-color-dark: #3c1afa;
$tertiary-color-extras: #a8a8a8;

/*font*/
$large-font: "Rajdhani", sans-serif;
$small-font: "Noto Sans TC", sans-serif;
