@import "_variables";
@import "_navbar";
@import "_mixins";
@import "_header";
@import "_culturesec";
@import "_attractions";

html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
html {
  font-family: $large-font;
  min-height: 100%;
}
