/* colors */
/*font*/
/* colors */
/*font*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: auto;
  border-bottom: #000000 0.4rem solid;
}

/* EMPIRE STATE BUILDING IMAGE*/
.empire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 7rem;
  height: 10rem;
}

.empire img {
  width: 7rem;
  height: 10rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* NEW YORK CITY "LOGO" */
.left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 8.5rem;
  padding-left: 1rem;
  margin: 0 auto;
  width: 40vw;
}

.left-side h1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

/* NAV BAR SUBSECTIONS */
.right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 3rem;
  padding-right: 3rem;
}

.right-side button {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

button {
  font-family: "Rajdhani", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  padding: 0.5rem;
  text-decoration: none;
  background: white;
  display: inline-block;
  color: #000000;
  text-decoration: none;
  border: 1rem white solid;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

/* NAV BAR EFFECTS */
.button::after {
  content: " ";
  display: block;
  width: 0;
  height: 2px;
  background: -webkit-gradient(linear, left top, left bottom, from(#18ffff), to(#1de9b6));
  background: linear-gradient(#18ffff, #1de9b6);
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.button:hover::after {
  width: 100%;
}

button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* MEDIA QUERY CHANGES */
@media screen and (min-width: 1001px) and (max-width: 1400px) {
  .left-side {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .left-side h1 {
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0rem;
  }
}

@media screen and (max-width: 1000px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .left-side {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .left-side h1 {
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0rem;
  }
  .right-side button {
    font-size: 2.5rem;
  }
  .right-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 1rem;
  }
  .empire {
    width: 3.5rem;
    height: 5rem;
  }
  .empire img {
    width: 3.5rem;
    height: 5rem;
  }
}

/* colors */
/*font*/
.culture-container {
  padding-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.culture-images {
  width: 30rem;
  height: 30rem;
}

.culture-images img {
  width: 10rem;
  height: 20rem;
}

html,
body,
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

html {
  font-family: "Rajdhani", sans-serif;
  min-height: 100%;
}
/*# sourceMappingURL=main.css.map */